<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
    <ul class="albums">
        <li>
        <img class="album" src="cover1.jpg">
          <h2>Let It Bleed</h2>
          <h3>1969</h3>
        </li>
        <li>
            <img class="album" src="cover2.jpg">
          <h2>Sticky Fingers</h2>
          <h3> 1971</h3>
        </li>
        <li>
            <img class="album" src="cover3.jpg">
          <h2>Exile on Main St.</h2>
          <h3>1972</h3>
        </li>
        <li>
            <img class="album" src="cover4.jpg">
          <h2>Some</h2>
          <h3>1974</h3>
        </li>
        <li>
            <img  class="album" src="cover5.jpg">
          <h2>Emotional Rescue</h2>
          <h3>1980</h3>
        </li>
        <li>
            <img class="album" src="cover6.jpg">
          <h2>Dirty Work</h2>
          <h3>1986</h3>
        </li>
      </ul>


</body>
</html>